* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0px;
    background-color: white;
    height: 12vh;
}

h1 {
    margin-top: 0;
    font-size: 2.5em;
    padding: 10px 20px;
    display: inline-block;
}

#add {
    color: white;
    background-color: green;
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    padding: 10px;
    font-weight: bold;
}

#add:hover {
    background-color: darkgreen;
}

#add:active {
    background-color: green;
}

main {
    padding: 20px;
}

#new-post-form {
    display: none;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #878686;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#new-post-form label {
    font-size: 1.2em;
    margin-bottom: 5px;
    display: block;
}

#new-post-form input[type="text"],
#new-post-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #cbcaca;
    border-radius: 4px;
    box-sizing: border-box;
}

#new-post-form button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

#new-post-form button:hover {
    background-color: darkgreen;
}

.blog-post {
    background-color: hsl(182, 25%, 70%);
    border-radius: 5px;
    padding: 20px;
    max-height: 200px;
    overflow-y: scroll;
    margin: 20px 0px;
    box-sizing: border-box;
}

.image-resize{
    margin-top: 10px;
    width: 150px ;
    float: left;
    margin-right: 10px;
}
.blog-post .italic{
    font-style: italic;
}



.blog-post:hover {
    border: 2px solid gray;
}

footer {
    background-color: rgba(0, 0, 0, 0.316);
    width: 100%;
}

footer p {
    padding: 10px;
    text-align: center;
}